/*header组件*/
/*应用图标和名称*/
.logo {
  align-items: center;
  display: flex;
}
.logo img {
  width: 48px;
  height: 48px;
}
.logo span {
  font-size: 24px;
  padding-left: 5px;
}


/*水平导航*/
.ant-menu-horizontal>.ant-menu-item>a, .ant-menu-horizontal>.ant-menu-submenu>a {
  display: inline-block !important;
}

/*注册/登陆 menuItem*/
.regist {
  float: right !important; /*优先级最高*/
}

/*news_container组件*/
.container {
  text-align: center;
  padding-top: 10px;
  margin-top: 5px;
}
.leftContainer {
  width: 400px;
  float: left;
}
/*新闻列表*/
.tabs_news {
  padding-left: 10px;
  width: 400px;
  float: left;
}
.tabs_news li {
  height: 27px;
  line-height: 27px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  width: 417px;
  float: left;
  text-overflow: ellipsis;
}
/*产品列表*/
.tabs_product {
  width: 300px;
  padding-left: 10px;
  float: left;
}
.tabs_product li {
  height: 27px;
  line-height: 27px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  width: 257px;
  text-overflow: ellipsis;
}
/*轮播图*/
.ant-carousel {
  width: 400px;
  float: left;
}
.ant-carousel img {
  width: 400px;
  height: 260px;
}

/*news_block*/
.topNewsList {
  float: left;
  text-align: left;
  font-size: 12px;
  margin-bottom: 10px;
}
.topNewsList a {
  line-height: 22px !important;
  color: #666 !important;
}

.ant-card{
  margin-top: 5px !important;
}
.ant-card-head-title{
  text-align: left !important;
}
.ant-card-body{
  text-align: left !important;
  padding: 15px !important;
}
.ant-tabs-bar {
  margin-bottom: 0 !important;
}

/*news_products组件*/
.pro_bg {
  background: #eeeeee;
  margin-top: 10px;
}

.pro {
  padding: 5px;
  overflow: hidden;
}

.pro a {
  float: left;
  line-height: 30px;
  margin-right: 5px;
}