/*news_header组件*/
  /*应用图标和名称*/
.logo {
  align-items: center;
  display: flex;
}
.logo img {
  width: 48px;
  height: 48px;
}
.logo span {
  font-size: 24px;
  padding-left: 5px;
}
.regist {
  float: right !important;
}